.GoalForm {    
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    font-size: 25px;
}

@media (min-width: 1024px) {
    .GoalForm {    
        flex-direction: row;
        gap: 40px;
    } 
}


.GoalForm input {    
    height: 15px;
}

.GoalForm-select {    
    width: 150px;
}

.GoalForm select {    
    font-size: 35px;
}

.GoalForm-icons {    
    font-size: 25px;
    color: darkslategrey;
    display: flex;
    justify-content: flex-end;
    align-self: end;
    gap: 8px;
}

