.GoalWrapper-form {
    display: flex;
    justify-content: center;
    margin: 10px auto;
    gap: 30px;
}

.GoalWrapper-goal {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: darkgrey;
}

@media (min-width: 1024px) {
    .GoalWrapper-goal {
        justify-content: flex-end;
    }
}

.GoalWrapper-icon {
    color: darkgrey;
}






