.Message-text {
    margin: 0px;
    font-size: 80px;
    letter-spacing: 0.05em;
}

.Message-text-correct {
    color: #4B0082;
}

.Message-text-incorrect {
    font-weight: normal;
    font-size: 70px;
    color: #2B7C85;
}

.Message-no-confetti {
    display: none;
}

.Message-confetti {
    position: absolute;
    left: 10px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    z-index: 1;
    display: block;
    width: 350px;
    height: 100px;
    object-fit: cover;
    overflow: hidden;
}
