.Overlay {
    position: absolute;
    z-index: 1;
    top: 90px;
    left: 20px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
}


.Overlay-hide {
    display: none;
}

.Overlay-text-correct, .Overlay-text-incorrect {
    display: inline;
    margin: 0px;
    letter-spacing: 0.05em;
}

.Overlay-text-correct {
    font-size: 70px;
    color: #4B0082;
}

.Overlay-text-incorrect {
    font-size: 60px;
    font-weight: normal;
    color: #2B7C85;
}

.Overlay-icon {
    font-size: 20px;
    color: lightgrey;
    cursor: pointer;
}

.Overlay-no-confetti {
    display: none;
}

.Overlay-confetti {
    position: absolute;
    z-index: 1;
    left: 0px;
    right: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 260px;
    height: 80px;
    object-fit: cover;
    overflow: hidden;
}
