.Problem {
    width: 95%;
    height: 450px;
    margin: 0px auto;
    padding: 45px 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    background-color: white;
    font-size: 50px;
    border-radius: 3px;
    box-shadow: 0 0 10px 5px darkgrey;
}

.Problem-main-hide, .Problem-buttons-hide {
    display: none;
}

.Problem-no-confetti {
    display: none;
}

.Problem-confetti {
    position: absolute;
    display: block;
}

.Problem-buttons {
    margin: 0px;
    display: flex;
    flex-direction: column;
}

@media (min-width: 1024px) {
    .Problem-buttons {
        flex-direction: row;
        gap: 20px;
    }
}
    