.TimerButton {
    width: 100%;
    display: flex;
}

.TimerButton button {
    cursor: pointer;
    background-color: #91D34C;
    color: white;
    margin: 0px 2px;
    padding: 2px 10px;
    font-size: 35px;
    border-radius: 5px;
    border: 1px solid grey;
    flex: 1;
}
