.Menu-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    margin: 40px auto;
    padding: 40px 10px;
    border-radius: 10px;
}

.Menu-link {
    text-decoration: none;
    background-color: #2B7C85;
    width: 80%;
    max-width: 500px;
    color: white;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 32px;
    border: 2px solid black;
}

.Menu-link:hover {
    font-weight: bold;
    box-shadow: 0 0 0 5px lightgrey;
}

