.ProblemPage {
    margin: 20px 0px;
}

.ProblemPage-main {
    position: relative;
}

.ProblemPage-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px auto;
    gap: 30px;
    width: 60%;
    min-width: 300px;
    max-width: 600px;
}

.ProblemPage-scores {
    display: flex;
    justify-content: center;
}

.ProblemPage-timer {
    display: flex;
    justify-content: center;
}

.ProblemPage-countdown {
    position: absolute;
    top: 400px;
    left: 50%;
    transform: translateX(-50%);
}