.Score {    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
    /* width: 40%;
    min-width: 150px;
    max-width: 300px; */
    font-size: 25px;
    color: #2B7C85;
}

